*~
env/
venv/
build/
dist/
*.egg-info/
**/__pycache__/
*.pyc
run_julian.sh
convert_to_zarr.sh
fix_field_tags.sh
pyrightconfig.json
testing/
misc/legacy_recon_src/
backend_series/
.DS_Store
run_julian.bat
run_julian.command
test.py
